{% extends "article_list.html" %}

{% block top_content %}
<div style="width:45%; float:left;">
<h2>About</h2>
<p>
PyHPC events are a number of sessions at the Supercomputing Conference. These events typically include:
</p>
<ul>
<li>A tutorial on Python in the HPC space</li>
<li>A workshop highlighting the latest innovations with Python, and</li>
<li>A birds of a feather session of lightning talks discussing issues and new happenings</li>
</ul>
</div>

<div style="width:45%; float: right;">
<h2>SC 13 Events</h2>

<h4><a href="http://sc13.supercomputing.org/schedule/event_detail.php?evid=tut174">Tutorial: Mon, Nov 18, 8:30 - 17:00 </a></h4>
<p><a href="tutorial">Details</a></p>

<h4><a href="http://sc13.supercomputing.org/schedule/event_detail.php?evid=wksp119">Workshop: Mon, Nov 18, 9:00 - 17:30</a></h4>
<p><a href="workshop">Details</a></p>

<h4><a href="http://sc13.supercomputing.org/schedule/event_detail.php?evid=bof142">BoF: Tues, Nov 19, 12:15 - 13:15</a></h4>
<p><a href="bof">Details and Sign up</a></p>

</div>


<hr/>

<h2>Recent News</h2>
{% endblock %}
